.header {
  font-family: "Outfit", sans-serif;
}
.header-wrapper {
  @apply h-header-height z-50;
}
.header-container {
  @apply min-w-full bg-zinc-950 h-full pl-32 pr-8 flex flex-row justify-between;
}
.menu {
  @apply w-full h-full flex items-center justify-between;
}
.menu-right {
  @apply flex justify-center items-center basis-1/4 ml-8 text-[1.55rem];
}
.active-header-link {
  @apply border-b-2 border-[var(--p-primary-color)];
}
.menu-item {
  @apply text-[1.15rem] h-full uppercase font-semibold tracking-wider hover:text-[var(--p-primary-color)] transition-colors duration-100 ease-in-out;
  a {
    @apply h-full flex items-center;
  }
}
.cart-icon,
.user-icon {
  @apply w-[70px] text-center cursor-pointer hover:text-[var(--p-primary-color)] transition-colors duration-100;
}
.cart-icon {
  @apply relative;
}
.cart-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.16);
  transform: skew(20deg);
}
.cart-products-number {
  position: absolute;
  top: -5px;
  right: 7px;
  line-height: 1;
  font-size: 1.15rem;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.35em;
  min-height: 1.35em;
  color: black;
  background-color: var(--p-primary-color);
}
