.header {
  @apply sticky top-0 z-20;
  font-family: "Outfit", "Montserrat" sans-serif;
}
.header__wrapper {
  @apply h-header-height z-50;
}
.header__container {
  @apply min-w-full bg-zinc-950 h-full px-1 sm:pl-[clamp(1rem,6.914vw-0.296rem,8rem)] sm:pr-[clamp(1rem,0.988vw+0.815rem,2rem)] flex justify-between;
}
.menu {
  @apply w-full h-full flex items-center justify-end gap-20;
  gap: clamp(2rem, 3.636vw + 0.636rem, 5rem);
}
.menu-right {
  @apply flex justify-center items-center basis-1/4 m-0 sm:ml-8 text-[1.55rem];
}
.active-header-link {
  @apply border-b-2 border-primary;
}
.menu-item {
  @apply text-[1.15rem] h-full uppercase font-semibold tracking-wider hover:text-primary transition-colors duration-100 ease-in-out;
  a {
    @apply h-full flex items-center;
  }
}
.cart-icon__wrapper,
.user-icon__wrapper,
.logout-icon__wrapper {
  @apply w-[70px] text-center;
}
.cart-icon,
.user-icon,
.logout-icon {
  @apply cursor-pointer transition-colors duration-100;
}
.cart-icon,
.user-icon {
  @apply hover:text-primary;
}
.cart-icon {
  @apply relative;
}
.logout-icon {
  @apply text-red-600 hover:text-red-800;
}
.cart-icon__wrapper {
  @apply relative z-10;
}
.cart-icon__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.16);
  transform: skew(20deg);
}
.cart-products-number {
  position: absolute;
  top: -5px;
  right: -15px;
  line-height: 1em;
  font-size: 1.05rem;
  font-style: normal;
  font-family: "Outfit", "Montserrat", sans-serif;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.45em;
  min-height: 1.45em;
  color: black;
  background-color: var(--p-primary-color);
}
